/* Figma Styles of your File */
:root {
  /* Colors */
  --003718: #003718;
  --008a3d: #008a3d;
  --00ab55: #00ab55;
  --00bb0a: #00bb0a;
  --008056: #008056;
  --009a4d: #009a4d;
  --50af36: #50af36;
  --006533: #006533;
  --00703c: #00703c;
  --white: #ffffff;
  --black: #000000;
  --dddddd: #dddddd;
  --4c4c4c: #4c4c4c;
  --29703c: #29703c;
  --333640: #333640;
  --6dab3c: #6dab3c;
  --c2c2c2: #c2c2c2;
  --eeeeee: #eeeeee;

  /* Fonts */
  /* Effects */
}
